@import "../variables";

.contest-description__item {
  line-height: 30px;
  margin: 45px 25px;
}

@media (min-width: $tablet-width) {
  .contest-description__container {
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contest-description__container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
