@import "../variables";

.contacts {
  width: 100%;
  margin: 0 auto;
}

.contacts__heading-wrapper {
  width: 228px;
  margin: 0 auto;

  display: inline-block;
}

.contacts__heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  margin-top: 40px;
}

.contacts__item {
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
}

.contacts__item--tel {
  margin-top: 12px;
}

.contacts__email-wrapper {
  margin-left: 4px;
}

.contacts__email-wrapper .contacts__item-details {
  cursor: pointer;
}

.contacts__email-wrapper .contacts__item-details:hover,
.contacts__email-wrapper .contacts__item-details:focus {
  color: $menu-bg-color;
}

.contacts__email-wrapper.contacts__item-details:active {
  color: rgba(40, 54, 69, 0.3);
}

.contacts__item--write {
  margin-top: 18px;
}

.contacts__address-wrapper {
  padding-bottom: 33px;
}

.contacts__item--adress {
  margin-top: 23px;
}

.contacts__item-details {
  color: $pink-text-color;
  font-size: 24px;
  line-height: 33px;
  vertical-align: text-top;
  font-weight: 300;
  text-decoration: none;

  margin: 0 35px;
}

.contacts__bg-triangle-wrapper {
  display: block;
  position: relative;

  &::after {
    content: "";

    background: url("../../img/bg-triangle-white-footer.svg") no-repeat center top;
    background-size: 100% auto;

    position: absolute;
    bottom: -54px;
    left: 0;
    right: 0;

    min-height: 55px;
  }
}

.contacts__map {
  width: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    width: $tablet-width;
    margin: 0 auto;
    padding-top: 2px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__address-wrapper {
    justify-content: flex-end;
    align-self: center;

    margin: 22px auto 27px;
    padding: 0;
  }

  .contacts__bg-triangle-wrapper::after {
    bottom: -404px;
    height: 100%;
  }

  .contacts__heading-wrapper {
    width: 380px;
    margin: 0 auto;
  }

  .contacts__heading {
    font-size: 40px;
    line-height: 48px;

    margin: 45px 0 36px;
  }

  .contacts__tel-wrapper {
    margin-left: 31px;
  }

  .contacts__item--tel {
    margin-top: 8px;
  }

  .contacts__email-wrapper {
    margin-right: 14px;
  }

  .contacts__item--write {
    margin: 6px 0 3px;
  }

  .contacts__address-wrapper .contacts__item-details {
    width: 215px;
  }

  .contacts__map {
    height: 373px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 0;
  }

  .contacts__heading {
    font-size: 50px;
    line-height: 60px;

    margin: 63px 0 39px;
  }

  .contacts__heading-wrapper {
    width: 500px;
  }

  .contacts__address-wrapper {
    margin: -7px 0 0 16px;

    order: 2;
  }

  .contacts__tel-wrapper {
    order: 1;

    margin: 7px 0 0 12px;
  }

  .contacts__email-wrapper {
    order: 3;

    margin: 8px -6px 0 0;
  }

  .contacts__bg-triangle-wrapper::after {
    bottom: -347px;
  }

  .contacts__item--tel {
    margin-bottom: 21px;
  }

  .contacts__item--write {
    margin-bottom: 23px;
  }

  .contacts__item--adress {
    margin-bottom: 20px;
  }

  .contacts__map {
    height: 515px;
  }
}
