@import "../variables";

.contest-form__fieldset {
  border: none;

  padding: 0;
}

.contest-form__wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__fieldset-wrapper {
  margin-bottom: 25px;
}

.contest-form__fieldset-wrapper--name {
  padding: 0 18px 0 17px;
}

.contest-form__fieldset-wrapper--app,
.contest-form__fieldset-wrapper--achievements {
  background-color: $bg-grey-color;
}

.contest-form__fieldset-wrapper--achievements {
  padding-top: 37px;
  margin-bottom: 20px;
}

.contest-form__fieldset-wrapper--app {
  padding-top: 37px;
}

.contest-form__fieldset-wrapper--feedback {
  padding-top: 7px;
}

.contest-form__submit-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  padding-top: 16px;
}

.contest-form__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $menu-text-color;
  background-color: #2aab6d;
  border-radius: 3px;
  border: none;

  padding: 16px 46px;
  margin-bottom: 36px;

  cursor: pointer;

  align-self: center;
}

.contest-form__button:hover,
.contest-form__button:focus {
  background-color: #1c9b5e;
}

.contest-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.contest-form__button:disabled {
  background-color: $border-color;
}

@media (min-width: $tablet-width) {
  .contest-form__container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .contest-form__fieldset-wrapper {
    padding: 0 18px;
  }

  .contest-form__fieldset-wrapper--achievements,
  .contest-form__fieldset-wrapper--app {
    background-color: $menu-text-color;
  }

  .contest-form__fieldset-wrapper--name {
    order: 1;

    margin-top: 60px;
  }

  .contest-form__fieldset-wrapper--app {
    order: 2;

    padding: 32px 18px 0;
    margin-bottom: 51px;
  }

  .contest-form__fieldset-wrapper--contacts {
    order: 3;

    margin-bottom: 56px;
  }

  .contest-form__fieldset-wrapper--achievements {
    order: 4;

    margin-bottom: 51px;
  }

  .contest-form__fieldset-wrapper--feedback {
    order: 5;
  }

  .contest-form__submit-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 44px 19px;
    margin-bottom: 8px;

    order: 6;
  }

  .contest-form__button {
    margin: 0;
    padding: 15px 58px;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__container {
    width: $desktop-width;
    margin: 0 auto;
  }

  .contest-form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest-form__fieldset-wrapper {
    margin: 0;
    padding: 0;
  }

  .contest-form__fieldset-wrapper--name {
    width: 435px;
  }

  .contest-form__fieldset-wrapper--app {
    width: 435px;
  }

  .contest-form__fieldset-wrapper--contacts {
    width: 100%;

    margin-top: 50px;
  }

  .contest-form__fieldset-wrapper--achievements {
    width: 100%;

    margin-top: 55px;
  }

  .contest-form__fieldset-wrapper--feedback {
    width: 100%;

    margin-top: 52px;
  }

  .contest-form__submit-wrapper {
    width: 100%;

    padding: 69px 0 0;
    margin-bottom: 6px;
  }
}
