@import "../variables";

.contest-form__fieldset {
  border: none;
}

.contest-form__wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__fieldset-wrapper {
  margin-bottom: 40px;
}

.contest-form__fieldset-wrapper--app,
.contest-form__fieldset-wrapper--achievements {
  background-color: $bg-grey-color;
}

.contest-form__submit-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 45px;
}

.contest-form__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $menu-text-color;
  background-color: #2aab6d;
  border-radius: 10px;
  border: none;

  padding: 23px 45px;

  cursor: pointer;

  align-self: center;
}

@media (min-width: $tablet-width) {
  .contest-form__container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .contest-form__fieldset {
    margin-top: 62px;
  }

  .contest-form__fieldset-wrapper--achievements,
  .contest-form__fieldset-wrapper--app {
    background-color: $menu-text-color;
  }

  .contest-form__fieldset-wrapper--name {
    order: 1;
  }

  .contest-form__fieldset-wrapper--app {
    order: 2;
  }

  .contest-form__fieldset-wrapper--contacts {
    order: 3;
  }

  .contest-form__fieldset-wrapper--achievements {
    order: 4;
  }

  .contest-form__fieldset-wrapper--feedback {
    order: 5;
  }

  .contest-form__submit-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__container {
    width: $desktop-width;
    margin: 0 auto;
  }

  .contest-form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest-form__fieldset-wrapper--name {
    width: 50%;
  }

  .contest-form__fieldset-wrapper--app {
    width: 50%;
  }

  .contest-form__fieldset-wrapper--contacts {
    width: 100%;
  }

  .contest-form__fieldset-wrapper--achievements {
    width: 100%;
  }

  .contest-form__fieldset-wrapper--feedback {
    width: 100%;
  }

  .contest-form__submit-wrapper {
    width: 100%;
  }
}
