@import "../variables";

.features {
  background: #ffffff;

  margin-top: 46px;
}

.features__content {
  background-color: $bg-grey-color;

  &::before {
    content: "";
    display: block;

    background: url("../../img/bg-triangle-white.svg") no-repeat center;
    background-size: cover;

    height: 94.074px;
  }
}

.features__tagline-1-wrapper,
.features__tagline-2-wrapper {
  width: 340px;
  margin: 0 auto;
}

.features__tagline {
  font-size: 24px;
  font-weight: 300;
}

.features__image {
  margin-bottom: -6px;
}

.features__desktop-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    margin-top: 59px;
  }

  .features__tagline {
    font-size: 40px;
    line-height: normal;

    margin: 0;
  }

  .features__tagline-1-wrapper {
    width: 600px;
  }

  .features__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .features__container {
    margin: 0 auto;
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .features__container {
    margin: 0 auto;
    width: $desktop-width;
  }

  .features__desktop-image {
    display: block;
  }

  .features__wrapper {
    flex-direction: column-reverse;
  }

  .features__image-wrapper {
    display: flex;
  }
}
