.features {
  background: #ffffff;
}

.features__wrapper {
  background-color: $bg-grey-color;
}

.features__bg-triangle {
  width: 100%;
}

.features__tagline {
  font-size: 24px;
  font-weight: 300;
}

.features__image {
  margin-bottom: -6px;
}
