@import "../variables";

.fieldset-radio {
  background-color: $bg-grey-color;
  border: none;
}

.fieldset-radio__legend {
  color: $pink-text-color;
  text-transform: uppercase;
}

.fieldset-radio__label {
  font-size: 18px;
  line-height: 30px;
}
