@import "../variables";

.fieldset-textarea__legend {
  color: $pink-text-color;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.fieldset-textarea {
  padding: 0 18px;
}

.fieldset-textarea__textarea {
  width: 100%;

  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;

  border: solid 2px #e5e5e5;
  border-radius: 5px;

  padding: 14px 19px 3px;
}

@media (min-width: $tablet-width) {
  .fieldset-textarea {
    border: solid 2px #e5e5e5;

    background-color: $menu-text-color;

    padding: 0 60px;
  }

  .fieldset-textarea__legend {
    padding: 0 38px;
    margin-bottom: 31px;
  }

  .fieldset-textarea__textarea {
    width: 100%;
    max-height: 194px;

    padding: 14px 17px 0;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-textarea {
    padding: 0 57px;
  }

  .fieldset-textarea__legend {
    margin-bottom: 27px;
  }

  .fieldset-textarea__textarea {
    max-height: 128px;

    margin-bottom: 36px;
  }
}
