@import "../variables";

.fieldset-name__wrapper {
  display: flex;
  flex-direction: column;
}

.fieldset-name__field-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
}

.fieldset-name__label {
  color: $pink-text-color;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;

  margin: 0 0 4px 23px;
}

.fieldset-name__text-input {
  font-size: 18px;
  line-height: 30px;

  padding: 14px 22px 15px;

  border: solid 2px #e5e5e5;
  border-radius: 5px;

  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.fieldset-name__text-input:hover {
  border-color: $menu-bg-color;
}

.fieldset-name__text-input:focus,
.fieldset-name__text-input:active {
  border-color: $pink-text-color;
}

@media (min-width: $tablet-width) {
  .fieldset-name__field-wrapper {
    flex-direction: row;
    align-items: center;

    margin-bottom: 52px;
  }

  .fieldset-name__field-wrapper:last-of-type {
    margin-bottom: 0;
  }

  .fieldset-name__label {
    margin: 0 20px 0 0;
  }

  .fieldset-name__text-input {
    padding: 14px 20px 15px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-name {
    padding-top: 15px;
  }

  .fieldset-name__field-wrapper {
    margin: 0 0 53px -3px;
  }
}
