@import "../variables";

.gallery__list {
  list-style: none;

  padding: 0;
}

.gallery__description {
  line-height: 30px;
}

.gallery__container {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .gallery__container {
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .gallery__container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
