@import "../variables";

.market-list {
  list-style: none;

  display: flex;
  justify-content: space-around;
  align-items: baseline;

  padding-left: 0;
  width: calc(100% - 57px * 2);
  margin: 32px 57px 14px;
}

.market-list__item {
  margin-right: 37px;

  &:last-of-type {
    margin-right: 0;
  }
}
