@import "../variables";

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.page-footer__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.page-footer__copyrigth-wrapper {
  display: flex;
  align-items: center;
}

.page-footer--index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
  }

  .page-footer__container {
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
