@import "../variables";

.page-header {
  background-color: $menu-bg-color;
}

.page-header__wrapper {
  display: flex;
}

.page-header__logo {
  height: 23px;

  margin: 22px 20px 25px;

  cursor: pointer;

  outline: none;
  fill: #ffffff;
}

.page-header__logo-svg--desktop,
.page-header__logo-svg--tablet {
  display: none;
}

.page-header__logo:hover svg,
.page-header__logo:focus svg {
  fill: $pink-text-color;
}

.page-header__logo:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding: 5px 0 35px;
  }

  .page-header__logo-svg--desktop,
  .page-header__logo-svg--mobile {
    display: none;
  }

  .page-header__logo-svg--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    display: flex;
    align-items: flex-start;

    width: $desktop-width;
    margin: 29px auto 32px;
  }

  .page-header {
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 0;

    width: 100%;
  }

  .page-header__wrapper {
    padding: 0;
  }

  .page-header__logo {
    margin: 0;
  }

  .page-header__logo-svg--mobile,
  .page-header__logo-svg--tablet {
    display: none;
  }

  .page-header__logo-svg--desktop {
    display: block;
  }
}
