@import "../variables";

.photo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  margin-top: 29px;
}


@media (min-width: $desktop-width) {

  .photo-list {
    justify-content: space-between;
  }

  .photo-list__item {
    padding: 0;
  }
}
