@import "../variables";

.photo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  margin-top: 20px;
}

.photo-list__item {
  width: 300px;
  box-sizing: border-box;
}


@media (min-width: $tablet-width) {
  .photo-list {
    margin-top: 50px;
    justify-content: space-between;
  }
}
