@import "../variables";

.promo {
  background: url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  background-size: cover;

  background-color: $main-page-bg-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../../img/bg-back-mobile@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.promo--index::before {
  content: "";
  display: block;

  background: url("../../img/iphone-hand-mobile@1x.png") 4% bottom no-repeat,
    url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  background-size: auto, cover;

  height: 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../../img/iphone-hand-mobile@2x.png") 4% bottom no-repeat,
      url("../../img/bg-back-mobile@2x.jpg") center no-repeat;
    background-size: 258px 286px, cover;
  }
}

.promo--padding-top .promo__container {
  padding-top: 50px;
}

.promo__image {
  margin-bottom: -7px;
}

.promo__wrapper {
  background-color: $main-page-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 20px;
}

.promo__button {
  display: inline-block;

  color: $menu-text-color;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  border: 3px solid #ffffff;
  border-radius: 30px;

  padding: 15px 0 17px;
  margin-top: 28px;

  cursor: pointer;
}

.promo__button:hover,
.promo__button:focus {
  background-color: $menu-text-color;
  color: $pink-text-color;
}

.promo__button:active {
  color: rgba(210, 40, 86, 0.3);
}

.promo__availability {
  color: $menu-text-color;
  font-weight: 300;

  padding-bottom: 30px;
  margin: 16px 0 0;
}

.promo__phrase {
  display: none;

  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  color: $menu-text-color;
}

@media (min-width: $tablet-width) {
  .promo {
    background: url("../../img/bg-back-tablet@1x.jpg") center no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/bg-back-tablet@2x.jpg") center no-repeat;
    }

    padding: 64px 0 80px;
  }

  .promo--index {
    background: url("../../img/iphone-hand-tablet@1x.png") center bottom no-repeat,
      url("../../img/bg-back-tablet@1x.jpg") center no-repeat;
    background-size: 700px 545px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/iphone-hand-tablet@2x.png") center bottom no-repeat,
        url("../../img/bg-back-tablet@2x.jpg") center no-repeat;
      background-size: 700px 545px, cover;
    }

    &::before {
      content: none;
    }
  }

  .promo__phrase {
    display: block;

    margin: 29px 38px 0 39px;
  }

  .promo__button {
    margin-top: 30px;
    padding: 15px 45px 17px;
  }

  .promo__availability {
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 0;
  }

  .promo__wrapper {
    width: 300px;
    margin-right: 0;

    background-color: transparent;
  }

  .promo__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: $tablet-width;
    margin: 0 auto;
  }

  .promo__list {
    margin: 44px 28px 0;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: url("../../img/bg-back-desktop@1x.jpg") center no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/bg-back-desktop@2x.jpg") center no-repeat;
    }

    padding: 160px 0 91px;
  }

  .promo--index {
    background: url("../../img/iphone-hand-desktop@1x.png") 97% bottom no-repeat,
      url("../../img/bg-back-desktop@1x.jpg") center no-repeat;
    background-size: 1050px 645px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/iphone-hand-desktop@2x.png") 97% bottom no-repeat,
        url("../../img/bg-back-desktop@2x.jpg") center no-repeat;
      background-size: 1050px 645px, cover;
    }
  }

  .promo__container {
    width: $desktop-width;
    margin: 0 auto;
  }

  .promo__wrapper {
    padding: 0;
  }

  .promo__phrase {
    font-size: 50px;
    line-height: 60px;

    margin: 58px 0 0;
  }

  .promo__button {
    font-size: 21px;
    margin-top: 50px;
    padding: 16px 28px;
  }

  .promo__list {
    margin: 67px 30px 0;
    justify-content: space-around;
  }

  .promo__availability {
    margin: 49px 0 0;

    width: 300px;
  }

  .promo--padding-top .promo__container {
    padding-top: 0;
  }
}
