@import "../variables";

.promo {
  background: url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  background-color: $main-page-bg-color;
  background-size: cover;
}

.promo__image {
  margin-bottom: -7px;
}

.promo__wrapper {
  background-color: $main-page-bg-color;
}

.promo__button {
  display: inline-block;

  color: $menu-text-color;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  border: 3px solid #ffffff;
  border-radius: 30px;

  padding: 20px 39px 17px 40px;
  margin-top: 28px;
}

.promo__availability {
  color: $menu-text-color;
}

.promo__phrase {
  display: none;

  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  color: $menu-text-color;
}

@media (min-width: $tablet-width) {
  .promo__phrase {
    display: block;
  }

  .promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 400px;

    background-color: transparent;
  }

  .promo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
