@import "../variables";

.rates {
  background-color: $bg-grey-color;

  padding-bottom: 46px;

  position: relative;

  &::before {
    content: "";
    display: block;

    position: absolute;
    top: -1px;

    background: url("../../img/bg-triangle-white.svg") no-repeat center top;
    background-size: 100% auto;

    height: 100%;
    width: 100%;
  }
}

.rates__container {
  width: $mobile-width;
  margin: 0 auto;
}


.rates__list {
  list-style: none;

  display: flex;


  padding: 0;
  margin-bottom: 35px;
}

.rates__header {
  background-color: $menu-bg-color;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $menu-text-color;

  padding: 17px 0 20px;
}

.rates__header-name {
  padding-bottom: 3px;
}

.rates__table {
  background-color: $menu-text-color;

  width: 100%;

  border-collapse: collapse;
}

.rates__table td,
.rates__table th {
  border: 2px solid $border-color;
}

.rates__table th:first-of-type {
  border-left: none;
}


.rates__header--hit {
  position: relative;

  &::before {
    content: "";

    display: block;

    width: 74px;
    height: 73px;

    position: absolute;
    top: 0;
    left: 0;

    background: url("../../img/bg-hit.svg") center no-repeat;
  }

  &::after {
    content: "хит";

    display: block;

    position: absolute;
    top: 18px;
    left: 9px;

    transform: rotate(-45deg);

    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: $menu-text-color;
  }
}

.rates__table td:first-of-type {
  border-right: none;

  padding: 13px 0 16px 21px;
  box-sizing: border-box;
}

.rates__table td:last-of-type {
  border-left: none;
}

.rates__item {
  line-height: 30px;
  text-transform: uppercase;

  text-align: left;

  flex-grow: 1;
  flex-basis: 0;
}

.rates__item--mobile-hidden {
  display: none;
}

.rates__cost {
  font-size: 24px;
  font-weight: 300;
}

.rates__yes-svg {
  fill: #3dc644;

  margin: 9px 0 0 44px;
  box-sizing: border-box;
}

.rates__no-svg {
  fill: #f25b26;
  margin: 4px 0 0 45px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .rates__container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .rates {
    padding-bottom: 36px;
  }

  .rates__list {
    padding-right: 20px;
  }

  .rates__item {
    text-align: center;
  }

  .rates__item--mobile-hidden {
    display: table;

    align-self: flex-end;
  }

  .rates__table {
    width: 100%;

    box-sizing: border-box;

    right: 0;
  }

  .rates__header {
    padding: 12px 0 8px;
  }

  .rates__header--hit {
    &::before {
      background: url("../../img/bg-hit-tablet.svg") center no-repeat;

      top: -6px;
      left: -7px;
    }

    &::after {
      font-size: 14px;
      top: 6px;
      left: 7px;
    }
  }

  .rates__header-name {
    font-size: 16px;

    padding: 0;
  }

  .rates__cost {
    font-size: 18px;
  }

  .rates__table-item--hidden {
    display: none;
  }

  .rates__toggles {
    display: none;
  }

  .rates__table td:first-of-type {
    padding: 7px 0 6px 14px;
    box-sizing: border-box;

    border: 2px solid $border-color;
  }

  .rates__table--legend td {
    text-align: left;
    text-transform: none;
  }

  .rates__no-svg {
    margin: 8px 0 -4px;
  }

  .rates__yes-svg {
    margin: 10px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .rates__container {
    width: $desktop-width;
    margin: 0 auto;
  }

  .rates {
    padding-bottom: 65px;
  }

  .rates__cost {
    font-size: 24px;
  }

  .rates__item,
  .rates__header-name {
    font-size: 18px;
  }

  .rates__header {
    padding: 17px 67px 22px;
  }

  .rates__header--hit {
    &::before {
      background: url("../../img/bg-hit-desktop.svg") center no-repeat;

      top: 0;
      left: 0;
    }

    &::after {
      font-size: 14px;
      top: 16px;
      left: 10px;
    }
  }

  .rates__item {
    flex-grow: 0;
    flex-basis: auto;
  }

  .rates__yes-svg {
    margin: 18px 0 8px;
  }

  .rates__no-svg {
    margin: 16px 0 4px;
  }

  .rates__table td:first-of-type {
    padding: 12px 64px 15px 25px;
  }
}
