@import "../variables";

.reviews__list {
  list-style: none;
}

.reviews__item {
  line-height: 30px;
}

.reviews__author {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.reviews__author-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__blockquote {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column-reverse;
  }


  .reviews__author-info {
    display: block;
  }
}
