@import "../variables";

.reviews {
  padding-top: 49px;

  position: relative;
  z-index: 1;
  top: -40px;

  background: $menu-text-color;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  line-height: 30px;
}

.reviews__author {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.reviews__author-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .reviews__blockquote {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column-reverse;
  }

  .reviews__author-info {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
