@import "variables";

.download-app {
  background-color: $menu-bg-color;
}

.download-app__wrapper {
  background: url("../img/iphone-hand-mobile@1x.png") center no-repeat;
}

.download-app__button {
  color: $menu-text-color;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.download-app__availability {
  color: $menu-text-color;
}
