@import "variables";

.site-list {
  list-style: none;
}

.site-list__link {
  color: $menu-text-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}

.site-list__item {
  text-align: center;
}
